<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddogdog.model.dao.PetDao">

	<select id="findPetByLogId" parameterType="long" resultType="Pet">
        SELECT 
            *
        FROM 
            PetLog pl
        INNER JOIN 
            Pet p using (pet_id)
        WHERE 
            pl.log_id = #{logId}
    </select>

    <select id="getPetByUser" parameterType="String" resultType="Pet">
        SELECT 
		    p.*,
		    MAX(wl.end_time) AS end_time
		FROM Pet p
		LEFT JOIN petlog USING (pet_id)
		LEFT JOIN walklog wl USING (log_id)
		WHERE p.user_id = #{userId}
		GROUP BY p.pet_id, p.pet_name, p.user_id;
    </select>

    <select id="selectOne" parameterType="int" resultType="Pet">
        SELECT * FROM Pet WHERE pet_id = #{petId}
    </select>

    <insert id="insertPet" parameterType="Pet">
        INSERT INTO Pet (pet_name, pet_birth, pet_gender, castration, `group`, breed, pet_weight, pet_photo, ps, user_id)
        VALUES (#{petName}, #{petBirth}, #{petGender}, #{castration}, #{group}, #{breed}, #{petWeight}, #{petPhoto}, #{ps}, #{userId})
    </insert>

    <update id="updatePet" parameterType="Pet">
        UPDATE Pet
        SET name = #{name}, birth = #{birth}, gender = #{gender}, castration = #{castration}, `group` = #{group}, user_id = #{userId}
        WHERE pet_id = #{petId}
    </update>

    <delete id="deletePet" parameterType="int">
        DELETE FROM Pet WHERE pet_id = #{petId}
    </delete>

</mapper>
