<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddogdog.model.dao.TradeDao">

    <select id="getAllTrades" resultType="com.ddogdog.model.dto.Trade">
        SELECT * FROM Trade
    </select>

    <select id="getAllWillTrades" resultType="com.ddogdog.model.dto.Trade">
        SELECT * FROM Trade WEHRE kind = '해드려요'
    </select>

    <select id="getTradeById" parameterType="long" resultType="com.ddogdog.model.dto.Trade">
        SELECT * FROM Trade WHERE trade_id = #{tradeId}
    </select>
    
    <select id="getAllPleaseTrades" resultType="map">
	    SELECT 
		    t.trade_id,
		    t.kind,
		    t.trade_start_time,
		    t.trade_end_time,
		    t.cost,
		    t.region,
		    t.detail,
		    t.state,
		    t.large_dog,
		    t.super_id,
		    t.user_id,
		    JSON_ARRAYAGG(p.pet_name) AS petNames,
		    u.nickname AS nickname
		FROM 
		    Trade t
		LEFT JOIN Together tg ON t.trade_id = tg.trade_id
		LEFT JOIN Pet p ON tg.pet_id = p.pet_id
		LEFT JOIN User u ON t.super_id = u.user_id
		WHERE 
		    t.kind = '해주세요' AND 
		    t.region LIKE '%서울%'
		GROUP BY 
		    t.trade_id, t.kind, t.trade_start_time, t.trade_end_time, t.cost, 
		    t.region, t.detail, t.state, t.large_dog, u.nickname
		ORDER BY t.trade_id DESC;
	</select>


    <select id="getPetsByTradeId" resultType="Pet">
    	SELECT 
	        *
	    FROM 
	        Together tg
	    LEFT JOIN Pet p ON tg.pet_id = p.pet_id
	    WHERE 
	        tg.trade_id = #{tradeId}
    </select>
    
    <select id="getTradesByCandId" parameterType="String" resultType="Trade">
    	SELECT * FROM Trade t
		LEFT JOIN Cand c ON c.trade_id = t.trade_id
		WHERE
			c.user_id = #{candId} AND kind = '해주세요';
    </select>
    
    <!--  -->
    <select id="getLatestTradeById" parameterType="Trade" resultType="com.ddogdog.model.dto.Trade">
        SELECT * FROM Trade 
        WHERE
        <if test="kind == '해주세요'">
        	super_id = #{superId}
        </if>
        <if test="kind == '해드려요'">
        	user_id = #{userId}
        </if>
        ORDER BY trade_id DESC LIMIT 1
    </select>

    <insert id="insertTrade" parameterType="com.ddogdog.model.dto.Trade">
        INSERT INTO Trade (kind, trade_start_time, trade_end_time, cost, region, detail, state, large_dog, super_id, user_id)
        VALUES (#{kind}, #{tradeStartTime}, #{tradeEndTime}, #{cost}, #{region}, #{detail}, #{state}, #{largeDog}, #{superId}, #{userId})
    </insert>

    <update id="updateTrade" parameterType="com.ddogdog.model.dto.Trade">
        UPDATE Trade
        SET kind = #{kind}, tradeStartTime = #{tradeStartTime}, tradeEndTime = #{tradeEndTime},
            cost = #{cost}, region = #{region}, detail = #{detail}, state = #{state}, large_dog = #{largeDog},
            super_id = #{superId}, user_id = #{userId}
        WHERE trade_id = #{tradeId}
    </update>

    <delete id="deleteTrade" parameterType="long">
        DELETE FROM Trade WHERE trade_id = #{tradeId}
    </delete>
</mapper>
